@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #EFEFEF;
    color: #32313b;
    font-family: "Open Sans", sans-serif;
    font-display: block;
    display: flex;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    padding: 0;
}

#react-root {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}